process {
  queue = 'normal'
  container = 'quay.io/nextflow/bash'
  shell = ['/bin/bash', '-euo', 'pipefail']
}

executor {
  name = 'lsf'
  // use perJobMemLimit so '-M' matches '-R [mem]' when bsub'ing
  executor.perJobMemLimit = true
}

singularity {
  enabled = true
  autoMounts = true
}

profiles {
  normal {
    process.queue = 'normal'
  }
  
  long {
    process.queue = 'long'
  }
  
  basement {
    process.queue = 'basement'
  }
}
