process {
   queue = 'normal'
   memory = '2 GB'
   container = 'quay.io/nextflow/bash'
   shell = ['/bin/bash', '-euo', 'pipefail']
}

singularity {
  enabled = true
  autoMounts = true
}

executor {
  name = 'lsf'
  perJobMemLimit = true
}

dag {
    enabled = true
    file = 'dat.dot'
}

trace {
    enabled = true
    file = 'trace.txt'
}

report {
    enabled = true
    file = 'report.html'
}
