process {
   queue = 'normal'
  // default container for this example
  container = 'quay.io/nextflow/bash'
  // sehll captures exit codes from upstream processes
  shell = ['/bin/bash', '-euo', 'pipefail']
}

// use singularty
singularity {
  enabled = true
  autoMounts = true
}

// use perJobMemLimit so '-M' matches '-R [mem]' when bsub'ing
executor {
  name = 'lsf'
  perJobMemLimit = true
}

